# tex
*.aux
*.log
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*-blx.bib
*.out
*.dvi

# darwin
.DS_Store

# terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.tfvars
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secrets.tf

# ide
.vscode

# package directories
api/node_modules
api/jspm_packages

# Serverless directories
api/.serverless
