# tex
*.aux
*.log
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*-blx.bib
*.out
*.dvi

# general / system
.DS_Store
*.zip

# terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
.tfvars
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secrets.tf

# ide
.vscode

# Serverless
**/node_modules
**/build
dist
.build
.idea
yarn-error.log
coverage
**/.serverless
serverless_config.json
.yalc
yalc.lock
package-lock.json

.env

.terraform